{% extends 'base.html' %}
{% block content %}

<h1>Exercise Details</h1>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ exercise.name }}</span>
      <p>muscle: {{ exercise.muscle }}</p>
      
      {% if exercise.set > 0 %}
      <p>Sets: {{ exercise.set }}</p>
      {% else %}
      <p>Sets: Cannot be negative value</p>
      {% endif %}
  
      {% if exercise.reps > 0 %}
        <p>Reps: {{ exercise.reps }}</p>
      {% else %}
        <p>Reps: Cannot be negative value</p>
      {% endif %}
      
      {% if exercise.weight > 0 %}
        <p>Weight: {{ exercise.weight }}</p>
      {% else %}
    
      <p>Weight: Cannot be negative value</p>
      {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'exercises_update' exercise.id %}">Edit</a>
        <a href="{% url 'exercises_delete' exercise.id %}">Delete</a>
    </div>
  </div>
{% endblock %}

</body>
</html>