{% extends 'base.html' %}
{% block content %}

<h1>Exercise List</h1>

{% for exercise in exercises %}
<a href=" {% url 'detail' exercise.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ exercise.name }}</span>
      <p>muscle: {{ exercise.muscle }}</p>
      
      {% if exercise.set > 0 %}
      <p>Sets: {{ exercise.set }}</p>
      {% else %}
      <p>Sets: Cannot be negative value</p>
      {% endif %}
    
      {% if exercise.reps > 0 %}
        <p>Reps: {{ exercise.reps }}</p>
      {% else %}
        <p>Reps: Cannot be negative value</p>
      {% endif %}
      
      {% if exercise.weight > 0 %}
    <p>Weight: {{ exercise.weight }}</p>
  {% else %}
    <p>Weight: Cannot be negative value</p>
  {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}